<% if logged_in? %>
  <div>
    <aside>
      <%= render'tasks/form',task:@task %>
    </aside>
    <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
<h1>Welcome to the Tasklist</h1>

<p><%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %></p>
　　</div>
　</div>
<% end %>